<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Threads</title>

<meta charset="UTF-8" />
<link rel="icon" type="image/x-icon"   th:href="|${basePath}/imgs/logo.png|">
<link rel="stylesheet" type="text/css" th:href="|${basePath}/css/main.css|">
<link rel="stylesheet" type="text/css" th:href="|${basePath}/libs/jsonview/jquery.jsonview.css|">
<link rel="stylesheet" type="text/css" th:href="|${basePath}/libs/jquery-easyui/themes/icon.css|">
<link rel="stylesheet" type="text/css" th:href="|${basePath}/libs/jquery-easyui/themes/default/easyui.css|">

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" th:src="|${basePath}/libs/jsonview/jquery.jsonview.js|"></script>
<script type="text/javascript" charset="utf8" th:src="|${basePath}/libs/jquery-easyui/jquery.easyui.min.js|"></script>

<script type="text/javascript" th:inline="javascript">
	var json = [[${threads}]];
   	$(function() {
	     $("#json").JSONView(json);
	     // $("#json-collapsed").JSONView(json, { collapsed: true, nl2br: true, recursive_collapser: true });
	     $('#collapse-btn').on('click', function() {
	       $('#json').JSONView('collapse');
	     });
	     $('#expand-btn').on('click', function() {
	       $('#json').JSONView('expand');
	     });
	     /* 
	     $('#toggle-btn').on('click', function() {
	       $('#json').JSONView('toggle');
	     });
	      */
   });
</script>

</head>

<body>
	<div class="easyui-panel">
		<div style="margin-left: 20px;">
		  	<button id="expand-btn"   class="easyui-menubutton " data-options="iconCls:'icon-add'">展开</button>
		  	<button id="collapse-btn" class="easyui-menubutton" data-options="iconCls:'icon-remove'">折叠</button>
		</div>
	</div>
	<div class="easyui-panel" title="Threads" style="height:800px;padding:10px;" data-options="iconCls:'icon-tip'">
	  	<div id="json" style="margin-left: 20px;"></div>
	</div>
</body>
</html>
